extends layout/main-layout.pug

block content
    main
            form.product-form(action="/admin/add-product",method="POST")
                .form-control
                    label(for="title") #{title}
                    input(type="text",name="title",id="title")
                    button.button(type="submit") #{buttonText}

